
.ls-inline-block {
    /*display: inline-block !important;*/
    height: 20px;
}

.ls-inline {
    display: inline !important;
}

.ls-issuel-list{
    height: 500px; 
    overflow-y: scroll;
}

.ls-self-table{
    padding: 5px;
}

.ls-issuel-table-row{
    border: 1px solid #e3e3e3;
    margin: 2px;
}

.ls-issuel-table{
    max-height: 250px; 
    overflow-y: scroll;
    border: 1px solid #e3e3e3;
}

.ls-short-content{
    max-height: 120px;
    max-width: 230px;
    overflow:hidden;
    text-overflow: ellipsis;
}

.ls-issue-desc-conteiner{
    max-height: 250px;
    overflow:hidden;
    text-overflow: ellipsis;
}

.ls-d-as-checkbox{
    height: 20px;
    width: 20px;
    background-color: silver;
    display: inline !important;
}

.ls-md-input{
    width: 300px;
}
