
<div class="dropdown self-dropdown">
    
    <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        select type
        <span class="caret"></span>
    </button>
    
    <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li ng-repeat="item in items"  ng-click="toggleVal(item)"class="dropdown-item">
            {{ item[title]}} 
            <span class="glyphicon glyphicon-ok" ng-class="{'hide': !isChecked(item)}"></span>
        </li>
    </ul>

</div>

    
