<div class="dropdown self-dropdown ">
        
    <button type="button" class="btn btn-default ls-drop-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span ng-if="ngModel == undefined"class="pull-left">
            Виберіть значення ...
        </span>
        <span ng-if="ngModel != undefined" class="pull-left">
            {{ selectItem[title]}}
        </span>
        <span class="caret pull-right ls-caret"></span>
    </button>
    
    <ul class="dropdown-menu list-group ls-list-group" aria-labelledby="dLabel">
        <li ng-repeat="item in items" class="dropdown-item"  ng-click="toggleVal(item)">
            <span class="">{{ item[title]}}</span>
            <span class="glyphicon glyphicon-ok pull-right" ng-class="{'hide': (item[key] != ngModel)}"></span>
        </li>
    </ul>

</div>

    
