<div ng-controller="JiraController as self" class="row">

    <div class="col-md-3">
        <div>
            <!-- Список фільтрів -->

            <!-- Фільтр по проектах. Можна вибрати тільки один проект -->
            <dropdown-select ng-model="self.selectProject" key="key" title="name" items="self.projectList">  
            </dropdown-select>

            <!-- Фільтр по статусах (мультиселект) -->
            <checkbox-list ng-model="self.selectedIssueStatusList" key="id" title="name" items="self.issueStatusList"></checkbox-list>

            <!-- TO DO: фільтр по типу -->
            <!-- TO DO: (мультиселект) задача  належить якомусь спринту, задача не належить якомусь спринту -->
        </div>

        <div class="row container ">
            <!-- Список задач, що відповідають фільтру -->
            <div class="col-md-3">
                <ul class="list-group">
                    <li ng-repeat="oneIssue in self.issueList">
                    <issue-as-list issue="oneIssue" 
                                   active="self.activeIssueKey"
                                   selected-arr="self.selectedIssue">                
                    </issue-as-list>
                    </li>
                </ul>    
            </div>

            <!-- TO DO: пагінація по підгружених задачах -->
        </div>

    </div>

    <div ng-class="self.ifActiveIssue()?'col-md-6':'col-md-8'">
        <div>
            <!-- Список фільтрів для кластеризації вибраних задач -->
            <div ng-include="'ng-pages/jira/_filters.html'" ></div>
        </div>
        <div>
            <!-- Результат анілізу задач -->
            <div>
                <div ng-include="'ng-pages/jira/_availability_description.html'">
                </div>
            </div>
            <div>
                <div ng-include="'ng-pages/jira/_priority_clustering.html'">
                </div>
            </div>
        </div>


        <!-- Детальна інформація по задачі -->
        <div class="col-md-3 pull-right">
            <issue-detail-view issue="self.activeIssue" active="self.activeIssueKey"></issue-detail-view>
        </div>

    </div>