<div ng-controller="JiraController as self" class="row">

    <div class="col-md-3">
        

        <div class="">
            <!-- Список задач, що відповідають фільтру -->
            <h4>Список задач:</h4>
           
            <pagination ng-model="self.responseGetIssues"></pagination>
            <div class="form-group">
                <ul class="list-group">
                    <li ng-repeat="oneIssue in self.issueList">
                    <issue-as-list issue="oneIssue" 
                                   active="self.activeIssueKey"
                                   selected-arr="self.selectedIssue">                
                    </issue-as-list>
                    </li>
                </ul>    
            </div>

            <!-- TO DO: пагінація по підгружених задачах -->
        </div>

    </div>

    <div ng-class="self.ifActiveIssue() ? 'col-md-6' : 'col-md-8'">
        <div>
            <!-- Список фільтрів для кластеризації вибраних задач -->
            <div ng-include="'ng-pages/jira/_filters.html'" ></div>
        </div>
    </div>

    <!-- Детальна інформація по задачі -->
    <div class="col-md-3 pull-right ls-issue-detail">
        <issue-detail-view issue="self.activeIssue" active="self.activeIssueKey"></issue-detail-view>
    </div>     
</div>